<!-- ADD NEW REQUEST BUTTON -->
<button (click)="openPopup()" class="btn btn-primary mb-3">Add New Request</button>

<!-- DX Data Grid -->
<dx-data-grid
  [dataSource]="informationRequestDataSource"
  [remoteOperations]="true"
  [width]="'100%'"
  [height]="600"
  [showBorders]="true"
  [columnAutoWidth]="true"
>
  <dxo-editing [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"></dxo-editing>

  <dxi-column dataField="requestNumber" caption="Request Number"></dxi-column>
  <dxi-column dataField="sirYear" caption="Year"></dxi-column>
  <dxi-column dataField="mileStoneDate" caption="Deadline" dataType="date"></dxi-column>
  <dxi-column dataField="submissionType" caption="Submission Type"></dxi-column>
  <dxi-column dataField="organizationalUnitName" caption="Unit"></dxi-column>
  <dxi-column dataField="coordinatorName" caption="Coordinator Name"></dxi-column>
  <dxi-column dataField="worksheetType" caption="Worksheet Type"></dxi-column>
  <dxi-column dataField="approverName" caption="Approver"></dxi-column>
  <dxi-column dataField="requestStatus" caption="Status"></dxi-column>
  <dxi-column dataField="id" cellTemplate="limitTemplate">Details</dxi-column>
  <div *dxTemplate="let data of 'limitTemplate'">
    <div>
      <button class="btn btn-sm btn-primary me-2" (click)="openPopup(data.data.id)">
        <i class="bi bi-pencil-fill"></i> Edit
      </button>
      <button class="btn btn-sm btn-danger" (click)="deleteRequest(data.data.id)">
        <i class="bi bi-trash-fill"></i> Delete
      </button>
    </div>
  </div>
</dx-data-grid>

<!-- DX Popup for Form -->
<dx-popup
  [(visible)]="isPopupVisible"
  [width]="600"
  [height]="600"
  [showCloseButton]="true"
  [dragEnabled]="true"
  title="Information Request Form"
>
  <div *dxTemplate="let data of 'content'">
    <app-info-request-add
      [requestData]="selectedRequest"
      [submissionTypes]="submissionTypes"
      [coordinators]="coordinators"
      [approvers]="approvers"
      [milestones]="milestones"
      (save)="onSave($event)"
      (cancel)="onCancel()"
    ></app-info-request-add>
  </div>
</dx-popup>