# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/frontend/v17/DocumentLayout.json
.vs/frontend/v17/DocumentLayout.backup.json
.vs/frontend/v17/.wsuo
.vs/frontend/FileContentIndex/0856e76e-ff64-4019-973a-02aec6543875.vsidx
.vs/frontend/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/frontend/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
