// Navbar container
.app-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  
    .user-name {
      color: #ffffff;
      font-weight: 500;
    }
  }
  