<nav class="navbar navbar-expand-lg bg-light navbar-light shadow-sm border-bottom">
  <div class="container-fluid">
    <!-- Brand Name -->
    <a class="navbar-brand text-primary fw-bold" href="#">Datawrangler</a>

    <!-- Navbar Toggle for Mobile View -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" routerLink="/analyst/informationrequest" routerLinkActive="active">Information Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" routerLink="/coordinator/submission" routerLinkActive="active">Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" routerLink="/coordinator/recepient" routerLinkActive="active">Recipients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" routerLink="analyst/manager" routerLinkActive="active">Managers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" routerLink="analyst/milestones" routerLinkActive="active">Milestone</a>
        </li>
      </ul>

      <!-- User Information (Right Side) -->
      <div class="d-flex align-items-center">
        <img
          
          alt="User Avatar"
          class="rounded-circle border border-primary me-2"
          width="40"
          height="40"
        />
        <span class="fw-bold text-primary">{{ userName  }},{{userLastName}}</span>
      </div>
    </div>
  </div>
</nav>
