<dx-data-grid
  [dataSource]="informationRequestDataSource"
  [remoteOperations]="true"
  [width]="'100%'"
  [height]="600"
  [showBorders]="true"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>

  <dxo-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [mode]="'popup'"
  ></dxo-editing>

  <dxi-column dataField="Id" caption="ID" [allowEditing]="false"></dxi-column>
  
  <dxi-column dataField="requestNumber" caption="Request Number">
    <!-- <dxi-validation-rule type="required" message="Request Number is required."></dxi-validation-rule> -->
  </dxi-column>

  <dxi-column dataField="sirYear" caption="Year">
    <dxo-lookup [dataSource]="yearDataSource" valueExpr="year" displayExpr="year"></dxo-lookup>
  </dxi-column>

  <dxi-column dataField="mileStoneDate" caption="Deadline" dataType="date">
    <!-- <dxi-validation-rule type="required" message="Deadline is required."></dxi-validation-rule> -->
  </dxi-column>

  <dxi-column dataField="submissionType" caption="Submission Type">
    <!-- <dxo-lookup [dataSource]="submissionTypes" valueExpr="id" displayExpr="name"></dxo-lookup> -->
  </dxi-column>

  <dxi-column dataField="organizationalUnitName" caption="Unit">
    <!-- <dxo-lookup [dataSource]="organizationalUnits" valueExpr="id" displayExpr="name"></dxo-lookup> -->
  </dxi-column>

  <dxi-column dataField="coordinatorName" caption="Coordinator Name">
    <!-- <dxo-lookup [dataSource]="coordinatorsList" valueExpr="id" displayExpr="name"></dxo-lookup> -->
  </dxi-column>

  <dxi-column dataField="worksheetType" caption="Worksheet Type"></dxi-column>

  <dxi-column dataField="approverName" caption="Approver">
    <!-- <dxo-lookup [dataSource]="approversList" valueExpr="id" displayExpr="name"></dxo-lookup> -->
  </dxi-column>

  <dxi-column dataField="worksheetDetails" caption="Worksheet Details"></dxi-column>
  <dxi-column dataField="inputWorksheetLink" caption="Input Link"></dxi-column>
  <dxi-column dataField="informationSought" caption="Information Sought"></dxi-column>
  <dxi-column dataField="spqComment" caption="Comments"></dxi-column>

  <dxi-column dataField="requestStatus" caption="Status">
    <!-- <dxo-lookup [dataSource]="requestStatusList" valueExpr="id" displayExpr="name"></dxo-lookup> -->
  </dxi-column>

  <dxo-summary>
    <dxi-total-item column="Id" summaryType="count"></dxi-total-item>
  </dxo-summary>
</dx-data-grid>
