<div *ngIf="dataActions$ | async as dataActions">
  <div class="container mt-4">
    <h2>Information request </h2>
    <dx-data-grid [dataSource]="dataActions$ | async" [columns]="columns" [editing]="editing" [showBorders]="true"
      [allowColumnResizing]="true" [columnAutoWidth]="true" [headerFilter]="{ visible: true }"
      [searchPanel]="{ visible: true, highlightCaseSensitive: true }" (onOptionChanged)="onPagingChange($event)">
      <dxo-editing mode="popup">
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        >
      </dxo-editing>


      
    </dx-data-grid>
  </div>

</div>