<div class="modal-header">
    <h4 class="modal-title">{{ isEditMode ? 'Edit Milestone' : 'Add Milestone' }}</h4>
    <button type="button" class="close" (click)="onCancel()">&times;</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="milestoneForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="description">Description</label>
        <input id="description" formControlName="description" class="form-control" />
        <div *ngIf="isFieldInvalid('description')" class="text-danger">
          Description is required.
        </div>
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <input id="comments" formControlName="comments" class="form-control" />
      </div>
      <div class="form-group">
        <label for="targetdate">Target Date</label>
        <input
          id="targetdate"
          type="date"
          formControlName="targetdate"
          class="form-control"
        />
        <div *ngIf="isFieldInvalid('targetdate')" class="text-danger">
          Target Date is required.
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="milestoneForm.invalid">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>